{# 
/**
 * NOTA SOBRE LA LICENCIA DE USO DEL SOFTWARE
 *
 * El uso de este software está sujeto a las Condiciones de uso de software que
 * se incluyen en el paquete en el documento "Aviso Legal.pdf". También puede
 * obtener una copia en la siguiente url:
 * http://www.redsys.es/wps/portal/redsys/publica/areadeserviciosweb/descargaDeDocumentacionYEjecutables
 *
 * Redsys es titular de todos los derechos de propiedad intelectual e industrial
 * del software.
 *
 * Quedan expresamente prohibidas la reproducción, la distribución y la
 * comunicación pública, incluida su modalidad de puesta a disposición con fines
 * distintos a los descritos en las Condiciones de uso.
 *
 * Redsys se reserva la posibilidad de ejercer las acciones legales que le
 * correspondan para hacer valer sus derechos frente a cualquier infracción de
 * los derechos de propiedad intelectual y/o industrial.
 *
 * Redsys Servicios de Procesamiento, S.L., CIF B85955367
 */
#}
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-redsys" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endif %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <img src="view/image/extension/payment/Redsys.png" alt="" height="65" width="172"/>
      </div>
      <div class="panel-body">
        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-redsys" class="form-horizontal">
          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_entorno }}</label>
            <div class="col-sm-10">
              <select name="redsys_entorno">
                {% if redsys_entorno == 'Real' %}
                <option value="Real" selected="selected">{{ text_real }}</option>
                {% else %}
                <option value="Real">{{ text_real }}</option>
                {% endif %}
                {% if redsys_entorno == 'Sis-d' %}
                <option value="Sis-d" selected="selected">{{ text_sisd }}</option>
                {% else %}
                <option value="Sis-d">{{ text_sisd }}</option>
                {% endif %}
                {% if redsys_entorno == 'Sis-i' %}
                <option value="Sis-i" selected="selected">{{ text_sisi }}</option>
                {% else %}
                <option value="Sis-i">{{ text_sisi }}</option>
                {% endif %}
			        	{% if redsys_entorno == 'Sis-t' %}
                <option value="Sis-t" selected="selected">{{ text_sist }}</option>
                {% else %}
                <option value="Sis-t">{{ text_sist }}</option>
                {% endif %}
              </select>
            </div>
          </div>
		  
		  <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_nombre }}</label>
            <div class="col-sm-10">
              <input type="text" name="redsys_nombre" value="{{ redsys_nombre }}" class="form-control" />
            </div>
          </div>
		  
		  <div class="form-group required">
            <label class="col-sm-2 control-label">{{ entry_fuc }}</label>
            <div class="col-sm-10">
              <input type="text" name="redsys_fuc" value="{{ redsys_fuc }}" class="form-control" />
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_tipopago }}</label>
            <div class="col-sm-10">
			        <select name="redsys_tipopago">
                {% if redsys_tipopago == ' ' %}
                <option value=" " selected="selected">Todos</option>
                {% else %}
                <option value=" ">Todos</option>
                {% endif %}
                {% if redsys_tipopago == 'C' %}
                <option value="C" selected="selected">Solo tarjeta</option>
                {% else %}
                <option value="C">Solo tarjeta</option>
                {% endif %}
              </select>
            </div>
          </div>
		  
		  <div class="form-group required">
            <label class="col-sm-2 control-label" >{{ entry_clave256 }}</label>
            <div class="col-sm-10">
              <input type="text" name="redsys_clave256" value="{{ redsys_clave256 }}" class="form-control" />
            </div>
          </div>
		  
		  <div class="form-group required">
            <label class="col-sm-2 control-label" >{{ entry_term }}</label>
            <div class="col-sm-10">
              <input type="text" name="redsys_term" value="{{ redsys_term }}" class="form-control" />
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_moneda }}</label>
            <div class="col-sm-10">
			  <select name="redsys_moneda">
                {% if redsys_moneda == 'EURO' %}
                <option value="EURO" selected="selected">EURO</option>
                {% else %}
                <option value="EURO">EURO</option>
                {% endif %}
                {% if redsys_moneda == 'DOLAR' %}
                <option value="DOLAR" selected="selected">DOLAR</option>
                {% else %}
                <option value="DOLAR">DOLAR</option>
                {% endif %}
              </select>
            </div>
          </div>
		  
      <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_log }}</label>
            <div class="col-sm-10">
       <select name="redsys_log">
                {% if redsys_log == 'Si' %}
                <option value="Si" selected="selected">Si</option>
                {% else %}
                <option value="Si">Si</option>
                {% endif %}
                {% if redsys_log == 'No' %}
                <option value="No" selected="selected">No</option>
                {% else %}
                <option value="No">No</option>
                {% endif %}
              </select>
            </div>
          </div> 

          <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_activar_3ds }}</label>
            <div class="col-sm-10">
       <select name="redsys_activar_3ds">
                {% if redsys_activar_3ds == 'Si' %}
                <option value="Si" selected="selected">Si</option>
                {% else %}
                <option value="Si">Si</option>
                {% endif %}
                {% if redsys_activar_3ds == 'No' %}
                <option value="No" selected="selected">No</option>
                {% else %}
                <option value="No">No</option>
                {% endif %}
              </select>
            </div>
          </div>         
      
      <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_error_pedido }}</label>
            <div class="col-sm-10">
       <select name="redsys_error_pedido">
                {% if redsys_error_pedido == 'Si' %}
                <option value="Si" selected="selected">Si</option>
                {% else %}
                <option value="Si">Si</option>
                {% endif %}
                {% if redsys_error_pedido == 'No' %}
                <option value="No" selected="selected">No</option>
                {% else %}
                <option value="No">No</option>
                {% endif %}
              </select>
            </div>
          </div>
      
      <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_notif }}</label>
            <div class="col-sm-10">
       <select name="redsys_notif">
                {% if redsys_notif == 'Si' %}
                <option value="Si" selected="selected">Si</option>
                {% else %}
                <option value="Si">Si</option>
                {% endif %}
                {% if redsys_notif == 'No' %}
                <option value="No" selected="selected">No</option>
                {% else %}
                <option value="No">No</option>
                {% endif %}
              </select>
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_error }}</label>
            <div class="col-sm-10">
			  <select name="redsys_error">
                {% if redsys_error == 'Si' %}
                <option value="Si" selected="selected">Si</option>
                {% else %}
                <option value="Si">Si</option>
                {% endif %}
                {% if redsys_error == 'No' %}
                <option value="No" selected="selected">No</option>
                {% else %}
                <option value="No">No</option>
                {% endif %}
              </select>
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_idiomas }}</label>
            <div class="col-sm-10">
			  <select name="redsys_idiomas">
                {% if redsys_idiomas == 'Si' %}
                <option value="Si" selected="selected">Si</option>
                {% else %}
                <option value="Si">Si</option>
                {% endif %}
                {% if redsys_idiomas == 'No' %}
                <option value="No" selected="selected">No</option>
                {% else %}
                <option value="No">No</option>
                {% endif %}
              </select>
            </div>
          </div>

		  <div class="form-group">
			<label class="col-sm-2 control-label">{{ entry_completo }}</label>
			<div class="col-sm-10">
			  <select name="redsys_estado_completo" class="form-control">
				{% for order_status in order_statuses %}
          {% if order_status.order_status_id == redsys_estado_completo %}
          <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
          {% else %}
          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endif %}
        {% endfor %}
			  </select>
			</div>
		  </div>

		  <div class="form-group">
			<label class="col-sm-2 control-label">{{ entry_cancelado }}</label>
			<div class="col-sm-10">
			  <select name="redsys_estado_cancelado" class="form-control">
				{% for order_status in order_statuses %}
          {% if order_status.order_status_id == redsys_estado_cancelado %}
          <option value="{{ order_status.order_status_id }}" selected="selected">{{ order_status.name }}</option>
          {% else %}
          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endif %}
        {% endfor %}
			  </select>
			</div>
		  </div>

		  
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_status }}</label>
            <div class="col-sm-10">
			  <select name="payment_redsys_status">
                {% if payment_redsys_status %}
                <option value="1" selected="selected">Activo</option>
                <option value="0">Desactivo</option>
                {% else %}
                <option value="1">Activo</option>
                <option value="0" selected="selected">Desactivo</option>
                {% endif %}
              </select>
            </div>
          </div>
	  
		  <div class="form-group">
            <label class="col-sm-2 control-label" for="input-sort-order">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="redsys_sort_order" value="{{ redsys_sort_order }}" class="form-control" />
            </div>
          </div>
		  
		  <div class="form-group">
            <label class="col-sm-2 control-label">{{ entry_total }}</label>
            <div class="col-sm-10">
              <input type="text" name="redsys_total" value="{{ redsys_total }}" class="form-control" />
            </div>
          </div>
		  
          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-geo-zone">{{ entry_geo_zone }}</label>
            <div class="col-sm-10">
              <select name="redsys_geo_zone_id" id="input-geo-zone" class="form-control">
                <option value="0">{{ text_all_zones }}</option>
                {% for geo_zone in geo_zones %}
                  {% if geo_zone.geo_zone_id == redsys_geo_zone_id %}
                  <option value="{{ geo_zone.geo_zone_id }}" selected="selected">{{ geo_zone.name }}</option>
                  {% else %}
                  <option value="{{ geo_zone.geo_zone_id }}">{{ geo_zone.name }}</option>
                  {% endif %}
                {% endfor %}
              </select>
            </div>
          </div>

        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }} 